</main>
<script>
    function confirmDelete() {
        return confirm("Are you sure you want to delete the restaurant? The menu associated with it will also be deleted.");
    }
</script>
</body>

</html>