<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <header>
       <nav>
        <li><a href="/restaurants">WeEat</a></li>
        <ul>
        
            <li><a href="/restaurants">All Restaurants</a></li>
            <li><a href="/restaurants/new">Add Restaurant</a></li>
            <!-- <li><a href="/books">All Books</a></li>
            <li><a href="/books/new">Add Book</a></li> -->
        </ul>
        </nav>
    </header>
    <main>
