<%- include('./partials/header') %>

<section class="main">

    <div class="container py-2">
        <div class="row py-8 mt-9">
            <div class="col-lg-7 pt-8  d-flex align-items-center justify-content-center flex-column min-vh-100 mt-n9 !important">
                <div class="pb-5">
                    <div class="mb-3">
                        <h2 class="pt-n9">Delightful bites, <br> Swiftly delivered to you</h2>
                    </div>
                    <div>
                        <a href="/restaurants" class="btn btn-success mt-9">Order Now</a>
                    
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</section>

<%- include('./partials/footer') %>