/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
.main {
    background: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
        no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
}
/* [class*='col-'] {
    padding: 1rem;
} */

.main h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #f1f1f1;
}
.nav-link {
    text-transform: uppercase;
}

.nav-link:hover {
    color: black;
}

.restaurants .btn-custom,
.newitem .btn-custom {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 0.375em;
    box-shadow: none;
    box-sizing: border-box;
    color: #363636;
    cursor: pointer;
    display: inline-flex;
    font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        Helvetica, Arial, sans-serif;
    font-size: 1rem;
    height: 2.5em;
    justify-content: center;
    line-height: 1.5;
    padding: calc(0.5em - 1px) 1em;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}
.restaurants .btn-custom,
.newitem .btn-custom:hover {
    border-color: black;
}

.restaurants .banner-container {
    overflow: hidden; /* Ensure that the overflow is hidden to only show a portion of the image */
    height: 400px; /* Set the height to 60% of the width */
}

.restaurants .banner-container img {
    width: 100%; /* Make the image fill the entire width of its container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    object-position: top; /* Align the top of the image with the top of the container */
}
