<%- include('../partials/header') %>

    <div class="container py-5 newitem">
        <form method="POST" action="/restaurants/<%= restaurant.id %>/menu">

            <h3 class="mb-4">Add a New Dish to the Menu</h3>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="category" class="form-label">Category</label>
                    <select name="menu_category" class="form-select" required>
                        <option value="starters">Starters</option>
                        <option value="maincourse">Main Course</option>
                        <option value="dessert">Dessert</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="dishes" class="form-label">Dishe Name</label>
                    <input type="text" name="menu_name" class="form-control" required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="price" class="form-label">Price $</label>
                    <input type="text" name="menu_price" class="form-control" required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="image" class="form-label">Image Url</label>
                    <input type="url" name="menu_image" class="form-control" required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-custom">Add Dish</button>
                </div>
            </div>

        </form>
    </div>

    <%- include('../partials/footer') %>