<%- include('../partials/header') %>

<form method="POST" action="/restaurants/<%= restaurant.id %>/menu">


    <div id="menuCategories">
        <div class="menuCategory">
            <label for="category">Category</label>
            <select name="menu_category" required>
                <option value="starters">Starters</option>
                <option value="maincourse">Main Course</option>
                <option value="dessert">Dessert</option>
            </select>
            <br>
            <label for="dishes">Dishes</label>
            <input type="text" name="menu_name">
            <br>
            <label for="price">Price</label>
            <input type="text" name="menu_price">
        </div>
    </div>
    
    <button type="submit">Add Dish</button>
    <br><br>

</form>



<%- include('../partials/footer') %>